/*Adds lines to links with staff colour*/

.moderator .regular>.cooked a, .user-stream .item.moderator-action .title a {
    color: #0088CC !important;
    border-bottom: 2px dotted #fff !important;
}

/*Wiki background colour*/

.wiki .topic-body {
    background-color: #dcffdc;
}

/*Staff username colour*/

.names span.staff a {
   color: #000000;
}


.nav-pills>li a.active {
    color: white;
    background-color: #e45735;
    border-radius: 6px;
}
