// Staff colour and Glow
.moderator .regular>.cooked {
    background-color: #9CDCFF !important;
    border-radius: 6px;
}

// Link underline
.moderator .regular>.cooked a, .user-stream .item.moderator-action .title a {
    color: #ffffff !important;
    border-bottom: 1px dotted #ffffff !important;
}

// Official Moderator post
.moderator .cooked:after {
    content: "Official Post";
    font-size: large;
    float:right;
    padding: 5px;
    background-color: #e45735;
    border-radius: 6px;
    color: #ffffff;
}

// Wiki background colour

.wiki .topic-body {
    background-color: #dcffdc;
}

// Staff username colour

.names span.staff a {
   color: #000000;
}

// Notification count colour
.d-header-icons .unread-notifications {
    color: var(--primary);
}

// Notification menu count colour
.user-menu.revamped .tabs-list .btn .badge-notification {
    color: var(--primary);
}
