/*Adds lines to links with staff colour*/

.moderator .regular>.cooked a, .user-stream .item.moderator-action .title a {
    color: #0088CC !important;
    border-bottom: 2px dotted #fff !important;
}

/*make buttons round*/

//raise and round buttons
.btn {
  border-radius: 4px;

.btn-flat.close {
    box-shadow: none;
  }
}

//remove shadow from a few buttons
.d-editor-button-bar .btn,
.bulk-select-all,
.bulk-clear-all,
.period-chooser-header,
.topic-map .btn.no-text,
.badge-section .btn,
#revision .btn,
#new-account-link,
#login-link {
  border-radius: 0;
  box-shadow: none;
}

/*make wiki post green*/

.wiki .topic-body {
    background-color: #dcffdc; /*light green*
}
