// Staff Colour and glow
.moderator .regular>.cooked {
    background-color: #9CDCFF !important;
    filter: drop-shadow(3px 3px 12px var(--highlight));
    border-radius: 10px;
    padding-bottom: 15px;
}
